<div class="w-15 mt-5 mx-auto">
  <h2 class="text-center mb-4">Cadastro</h2>

  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

    <%= f.label :password, 'Senha' %>
    <% if @minimum_password_length %>
    <em>(pelo menos <%= @minimum_password_length %> caracteres)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", skip_label: true %>

    <%= f.password_field :password_confirmation, label: 'Confirmar senha',
      autocomplete: "new-password" %>

    <div class="d-flex justify-items-center">
      <%= f.submit "Cadastrar-se", class: "btn btn-primary mx-auto" %>
    </div>

  <% end %>

  <div class="mt-2 text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>
