<%= bootstrap_form_with(model: [ @user, @refeicao ], remote: true,
  inline_errors: true, html: { autocomplete: "off" }) do |f| %>

  <div class="modal-body">
    <%= f.text_field :nome %>
    <%= f.hidden_field :data %>
    <%= f.text_field :horario,
      value: Diario.horario_formatado(@refeicao.horario) %>
  </div>

  <div class="modal-footer">
    <%= f.submit btn_text, class: 'btn btn-primary' %>

    <button type="button" class="btn btn-secondary" data-dismiss="modal">
      Cancelar
    </button>
  </div>

<% end %>
