<nav>
  <ul class="pagination justify-content-center d-flex">
    <li class="page-item">
      <%= link_to '&laquo;'.html_safe,
        user_refeicoes_path(@user, data: @data - 1), 
        class: 'page-link', id: 'prev' %>
    </li>
    <li class="flex-fill">
      <span class="page-link text-center" id="data">
        <%= Diario.data_formatada(@data) %>
      </span>
    </li>
    <li class="page-item">
      <%= link_to '&raquo;'.html_safe,
        user_refeicoes_path(@user, data: @data + 1), 
        class: 'page-link', id: 'next' %>
    </li>
  </ul>
</nav>

<div class="d-flex pb-3">
  <div class="float-left flex-fill" id="refeicoes">
    <% @refeicoes.each do |refeicao| %>
      <%= render partial: 'card', locals: {refeicao: refeicao} %>
    <% end %>
  </div>

  <div class="float-right ml-4">
    <%= link_to 'Adicionar refeição',
      new_user_refeicao_path(@user, data: @data), remote: true,
      class: 'btn btn-primary' %>
  </div>
</div>

<div id="modal"></div>
