<%= bootstrap_form_with(model: [ @user, @alimento ], local: true,
  inline_errors: true, html: { autocomplete: "off" }, class: 'pb-5') do |f| %>

  <hr>

  <div class="row mt-4">
    <div class="col">
      <%= f.text_field :nome, placeholder: 'Nome ou descrição do alimento' %>
    </div>
    <div class="col">
      <%= f.text_field :marca, label: 'Marca (opcional)' %>
    </div>
  </div>

  <hr class="mb-4">

  <div id="porcoes_referencia">
    <% @alimento.porcoes_referencia.each.with_index do |porcao, index| %>
      <%= f.fields_for :porcoes_referencia, porcao do |m| %>
        <div class="row" data-saved="<%= !porcao.new_record? %>">
          <div class="col-3">
            <%= m.text_field :quantidade, label: 'Porção de referência' %>
          </div>
          <div class="col-3">
            <%= m.text_field :unidade, label: 'Unidade de medida',
              placeholder: 'g, kg, fatia, pedaço etc.', class: 'col-10' %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <hr>

  <div class="row mt-4">
    <div class="col-3">
      <%= f.text_field :energia, append: 'kcal' %>
    </div>
    <div class="col-3">
      <%= f.text_field :carb_disp, label: 'Carboidrato disponível',
        append: "g" %>
    </div>
    <div class="col-3">
      <%= f.text_field :gord_total, label: 'Gordura total', append: "g" %>
    </div>
    <div class="col-3">
      <%= f.text_field :gord_poli, label: 'Gordura poliinsaturada',
        append: "g" %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <%= f.text_field :proteina, label: 'Proteína', append: "g" %>
    </div>
    <div class="col-3">
      <%= f.text_field :fibra, label: 'Fibra alimentar', append: "g" %>
    </div>
    <div class="col-3">
      <%= f.text_field :gord_sat, label: 'Gordura saturada', append: "g" %>
    </div>
    <div class="col-3">
      <%= f.text_field :gord_trans, label: 'Gordura trans', append: "g" %>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <%= f.text_field :carb_total, label: 'Carboidrato total', append: "g" %>
    </div>
    <div class="col-3">
      <%= f.text_field :acucar, label: 'Açúcar', append: "g" %>
    </div>
    <div class="col-3">
      <%= f.text_field :gord_mono, label: 'Gordura monoinsaturada',
        append: "g" %>
    </div>
    <div class="col-3">
      <%= f.text_field :colesterol, label: 'Colesterol', append: "mg" %>
    </div>
  </div>
  
  <div class="row">
    <div class="col-3">
      <%= f.text_field :sodio, label: 'Sódio', append: "mg" %>
    </div>
  </div>

  <hr>

  <div class="mt-4">
    <% if @alimento.persisted? %>
      <%= link_to 'Remover', user_delete_alimento_path(@user, @alimento),
        remote: true, class: 'btn btn-danger ml-2' %>
    <% end %>

    <div class="float-right">
      <%= f.submit btn_text, class: 'btn btn-primary' %>
      <%= link_to 'Cancelar', user_alimentos_path(@user),
        class: 'btn btn-secondary ml-2' %>
    </div>
  </div>

<% end %>

<script>
  $(window).on('load', function() {
    $('#porcoes_referencia').find('.row[data-saved="false"]').each(function(i, row) {
      fixRowLayout(row);

      <% if !@alimento.errors.empty? and @alimento.porcoes_referencia.size > 1 %>
        addBotaoRemover(row);
      <% end %>
    });
  });

  $('#porcoes_referencia input').on('input', function() {
    verificaUltimaPorcao();
  });

  $('#porcoes_referencia button').on('click', function() {
    removePorcao($(this)[0]);
  });
</script>
