<%= render "shared/modal" do %>

  <div class="modal-header">
    <h5 class="modal-title" id="label">
      Adicionar alimento
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="d-flex">
      <ul class="nav nav-tabs mr-auto" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="todos-tab" data-toggle="tab"
            href="#todos" role="tab" aria-controls="todos" aria-selected="true">
            Todos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="meus-tab" data-toggle="tab"
            href="#meus" role="tab" aria-controls="meus" aria-selected="false">
            Meus alimentos
          </a>
        </li>
      </ul>

      <%= form_tag user_search_alimentos_path(@user), method: 'get',
        remote: true, class: 'form-inline', id: 'alimentos_search' do %>
        <%= text_field_tag :search, params[:search],
          class: 'form-control mb-1', placeholder: 'Pesquisar alimento' %>
        <%= hidden_field_tag :all, params[:all] %>
        <%= submit_tag '', style: 'display: none;' %>
      <% end %>
    </div>

    <div id="tab-content"></div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">
      Cancelar
    </button>
  </div>

<% end %>
