<div class="row">
  <div class="col-3 border">
    <span>
      Energia: <%= @alimento.energia_porcao(@quantidade, @unidade) %> kcal
    </span>
  </div>
  <div class="col-3">
    <span>
      Carboidrato disponível: <%= @alimento.carb_disp_porcao(@quantidade, @unidade) %> g
    </span>
  </div>
  <div class="col-3">
    <span>
      Gordura total: <%= @alimento.gord_total_porcao(@quantidade, @unidade) %> g
    </span>
  </div>
  <div class="col-3">
    <span>
      Gordura poli: <%= @alimento.gord_poli_porcao(@quantidade, @unidade) %> g
    </span>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <span>
      Proteína: <%= @alimento.proteina_porcao(@quantidade, @unidade) %> g
    </span>
  </div>
  <div class="col-3">
    <span>
      Fibra: <%= @alimento.fibra_porcao(@quantidade, @unidade) %> g
    </span>
  </div>
  <div class="col-3">
    <span>
      Gordura saturada: <%= @alimento.gord_sat_porcao(@quantidade, @unidade) %> g
    </span>
  </div>
  <div class="col-3">
    <span>
      Gordura trans: <%= @alimento.gord_trans_porcao(@quantidade, @unidade) %> g
    </span>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <span>
      Carboidrato total: <%= @alimento.carb_total_porcao(@quantidade, @unidade) %> g
    </span>
  </div>
  <div class="col-3">
    <span>
      Açúcar: <%= @alimento.acucar_porcao(@quantidade, @unidade) %> g
    </span>
  </div>
  <div class="col-3">
    <span>
      Gordura mono: <%= @alimento.gord_mono_porcao(@quantidade, @unidade) %> g
  </div>
  <div class="col-3">
    <span>
      Colesterol: <%= @alimento.colesterol_porcao(@quantidade, @unidade) %> mg
    </span>
  </div>
</div>

<div class="row">
  <div class="col-3">
    <span>
      Sódio: <%= @alimento.sodio_porcao(@quantidade, @unidade) %> mg
    </span>
  </div>
</div>
