<div class="mb-3">
  <h1>Adicionar alimento (<%= @refeicao.nome %>)</h1>
</div>

<div class="d-flex">
  <ul class="nav nav-tabs mr-auto" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="todos-tab" data-toggle="tab"
        href="#todos" role="tab" aria-controls="todos" aria-selected="true">
        Todos
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="meus-tab" data-toggle="tab"
        href="#meus" role="tab" aria-controls="meus" aria-selected="false">
        Meus alimentos
      </a>
    </li>
  </ul>

  <%= form_tag user_search_alimentos_path(@user), method: 'get',
    remote: true, class: 'form-inline', id: 'alimentos_search' do %>
    <%= text_field_tag :search, params[:search],
      class: 'form-control mb-1', placeholder: 'Pesquisar alimento' %>
    <%= hidden_field_tag :all, params[:all] %>
    <%= submit_tag '', style: 'display: none;' %>
  <% end %>
</div>

<div>
  <%= render partial: 'alimentos' %>
</div>

<%= link_to 'Cancelar', user_refeicoes_path(@user, data: @refeicao.data),
  class: 'btn btn-secondary float-right mt-4' %>
