<div class="d-flex justify-content-between align-items-center mb-2">
  <div>
    <h1>Meus alimentos</h1>
  </div>
  <div>
    <%= button_to 'Adicionar', new_user_alimento_path(current_user), method: :get,
      class: "btn btn-primary" %>
  </div>
</div>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Nome (Marca)</th>
      <th scope="col">Porção</th>
      <th scope="col">Energia (kcal)</th>
      <th scope="col">Proteína (g)</th>
      <th scope="col">Carboidratos (g)</th>
      <th scope="col">Fibras (g)</th>
      <th scope="col">Lipídeos (g)</th>
    </tr>
  </thead>

  <% current_user.alimentos.each do |alimento| %>
    <tr data-href="<%= edit_user_alimento_path(current_user, alimento) %>">
      <td><%= alimento.nome_completo %></td>
      <td><%= alimento.tamanho_porcao %></td>
      <td><%= alimento.energia %></td>
      <td><%= alimento.proteina %></td>
      <td><%= alimento.carb_total %></td>
      <td><%= alimento.fibra %></td>
      <td><%= alimento.gord_total %></td>
    </tr>
  <% end %>
</table>

<div id="modal">
</div>
