<%= bootstrap_form_with(model: [ @user, @refeicao,  @registro ], remote: true,
  inline_errors: true, html: { autocomplete: "off" }) do |f| %>

  <div class="modal-body">
    <%= hidden_field_tag :alimento_id, @alimento.id %>

    <%= f.fields_for :medida do |m| %>
      <div class="row">
        <div class="col-2">
          <%= m.text_field :quantidade, label: 'Porção',
            value: f.object.new_record? ?
            @alimento.medidas.first.quantidade : @registro.medida.quantidade %>
        </div>
        <div class="col-4">
          <%= m.select :unidade, @alimento.opcoes_porcao %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="modal-footer">
    <%= f.submit btn_text, class: 'btn btn-primary' %>

    <button type="button" class="btn btn-secondary" data-dismiss="modal">
      Cancelar
    </button>
  </div>

<% end %>

<script>
  $('#registro_unidade').on('change', function() {
    $.get({
    });
  });
</script>
