<%= bootstrap_form_with(model: [ @user, @refeicao,  @registro ], remote: true,
  inline_errors: true, html: { autocomplete: "off" }) do |f| %>

  <div class="modal-body">
    <%= hidden_field_tag :alimento_id, @alimento.id %>

    <div class="row">
      <div class="col-2">
        <%= f.text_field :quantidade, label: 'Porção', value: @quantidade %>
      </div>
      <div class="col-4">
        <%= f.select :unidade, options_for_select(@alimento.opcoes_porcao, @unidade) %>
      </div>
    </div>

    <hr>

    <div id="info-content" class="mt-4 mb-3">
      <%= render 'alimentos/info' %>
    </div>

  </div>

  <div class="modal-footer">
    <%= f.submit btn_text, class: 'btn btn-primary' %>

    <button type="button" class="btn btn-secondary" data-dismiss="modal">
      Cancelar
    </button>
  </div>

<% end %>

<script>
  function refresh() {
    var path;
    <% helper = Rails.application.routes.url_helpers %>
    path = "<%= helper.user_info_alimento_path(@user, @alimento) %>";

    $.get({
      url: path,
      data: {
        quantidade: $('#registro_quantidade').val(),
        unidade: $('#registro_unidade').val()
      }
    });
  }

  $('#registro_quantidade').on('input', function() {
    refresh();
  });

  $('#registro_unidade').on('change', function() {
    refresh();
  });
</script>
