<!DOCTYPE html>
<html>
  <head>
    <title>ProjetoTecprog2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if true %>
    <%= render "shared/navbar" %>
    <% end %>
    <div class="container-fluid px-5 py-4">
      <%= yield %>
    </div>
  </body>

  <%= javascript_include_tag 'application', 'jquery', 'data-turbolinks-track' => true %>

</html>
