<!DOCTYPE html>
<html>
  <head>
    <title>Projeto tecprog2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= render "shared/navbar" %>
    <% end %>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>

</html>
