<!DOCTYPE html>
<html>
  <head>
    <title>Projeto tecprog2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= render "shared/navbar" %>
    <% end %>

    <div class="container-fluid">
      <% if notice and not notice.empty? %>
        <div class="alert alert-success alert-dismissible fade show text-center mt-5 mx-auto w-25">
          <p class="m-auto"><%= notice %></p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <% if alert and not alert.empty? %>
        <div class="alert alert-danger text-center mt-5 mx-auto w-25">
          <p class="m-auto"><%= alert %></p>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>

</html>
